<div class="jumbotron headers">
  <h1>Contact us</h1>
  <p>Send us any questions or concerns</p>
</div>
<div class="container forms">
  <%= flash[:notice] %>
  <%= form_tag("/simple_pages/thank_you", html: {class: "form-contact"}) do %>
      <div class="form-row contact_box">
        <div class="form-group ">
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", :required => true %>
        </div>
        <div class="form-group ">
          <%= email_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", :required => true %>
        </div>
        <div class="form-group ">
         <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", rows: 8, :required => true %>
        </div>
        <div class="form-group ">
        <%= submit_tag "Send Message", class: "btn btn-success", id:"ContactSendButton", type:"button" %>
      </div>
    </div>
  <% end %>
</div>
