

<div class="container show_product">
  <div class="row col-md-12 h">
    <div class="product_name left">
      <h2 class"name_show"><%= @product.name %></h2>
    </div>
    <div class="product_price right">
      <h2 class"name_price">$<%= @product.price %></h2>
    </div>
  </div>

  <div class="row col-md-12">
    <div class="rated" data-score="<%= @product.average_rating %>">
    </div>

  </div>


  <div class="row">
    <div class="col-md-12" id="ProductImage">
      <%= image_tag(@product.image_url, class:"img-responsive img-zoom", data_zoom_image: "product.image_url") %>
    </div>
  </div>

  <div class="row product_info">
    <div class="col-md-12" id="ProductNav">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="feature-tab" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="false">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="color-tab" data-toggle="tab" href="#color" role="tab" aria-controls="color" aria-selected="false">Color</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="reveiw-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane in active" id="description" role="tabpanel" aria-labelledby="description-tab">
          <p><%= @product.description %></p>
       </div>
        <div class="tab-pane" id="feature" role="tabpanel" aria-labelledby="feature-tab"><p>flexitarian Blue Bottle lomo stumptown Wes Anderson hashtag shabby chic deep v try-hard sartorial Schlitz pug Echo Park Portland pop-up PBR meggings Banksy occupy flannel cardigan fixie gastropub Pitchfork art party pork belly lo-fi PBR & B umami mlkshk bicycle rights quinoa +1 cray authentic crucifix tote bag tousled plaid bitters selvage keytar biodiesel farm-to-table salvia cred tofu ennui semiotics Intelligentsia irony leggings dreamcatcher Shoreditch retro Tumblr gluten-free literally cliche ethical chillwave messenger bag next level Vice trust fund Helvetica Odd Future Tonx typewriter wolf sustainable Marfa High Life drinking vinegar kogi Brooklyn whatever kale chips street art ugh Thundercats 90's synth meh Carles wayfarers fanny pack blog Godard butcher Truffaut single-origin coffee Bushwick mumblecore mustache paleo put a bird on it organic slow-carb</p></div>
        <div class="tab-pane" id="color" role="tabpanel" aria-labelledby="color-tab"><p>Available colors: <%= @product.color %></p></div>
        <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab"><p><%= render 'comments' %></p><p><%= will_paginate @comments %></p></div>
      </div>
    </div>
  </div>
</div>

<div>
  <% if notice %>
      <p id="notice" class="alert alert-info" role="alert"><%= notice %></p>
  <% end %>

  <% if alert %>
  <p id="alert" class="alert alert-warning" role="alert"><%= alert %></p>
  <% end %>
</div>

<hr>

<div class="container-fluid payment-button">
<%= form_with(url: '/payments/create') do |form| %>
  <%= render partial: 'shared/stripe_checkout_button' %>
  <%= hidden_field_tag(:product_id, @product.id) %>
<% end %>
</div>

<hr>

<div class="container-fluid">
  <%= render 'new_comment' %>
</div>

<div class="container-fluid">
  <p>
    <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default btn-lg" %>
    <% end %>
  </p>
</div>

<div class="container-fluid link-buttons" id="BackButton">
  <p>
  <%= link_to ('<span class="glyphicon glyphicon-arrow-left"></span>Back').html_safe, products_path, class: "btn btn-default btn-lg", role:"button", id:"BackLinkButton"%>
  </p>
</div>
