<!DOCTYPE html>
<html>
  <head>
    <title>CFapp</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Poiret+One" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar nav navbar-inverse navbar-fixed-top" id="navigation-bar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header header">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
          <div class="home-icon active navbar-brand">
            <%= link_to image_tag('logos/bike.png').html_safe, root_path %>
          </div><!--end home-icon-->
        </div>
        <div class="navbar-collapse collapse">
            <%= form_with(url: products_path, method: 'get', local: true, class:"nav form-inline navbar-right center-block", id:"nav_search") do |form| %>
              <!-- <%= form.label :q, 'Search for:' %> -->
              <div class="form-group">
              <%= form.text_field :q, id: 'q', value: params[:q], class:"form-control", type:"search", placeholder:"Search" %>
             </div>
              <%= form.submit 'Search', class:"btn btn-outline-success", type:"submit" %>
            <% end %>
          <ul class="nav navbar-nav navbar-right nav-pills">
            <li>
              <%= link_to 'Bikes', products_path %>
            </li>
            <li>
              <%= link_to 'About', simple_pages_about_path %>
            </li>
            <li>
              <%= link_to 'Contact', simple_pages_contact_path %>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
            </li>
          </ul>
        </div><!--en nav collapse-->
      </div><!--end nav container-->
    </nav><!--end navbar-->

    <% if notice %>
        <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if notice %>
    <p id="alert" class="alert alert-warning"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class = footer>
      <div class="container">
        <p class="text-muted">&copy; 2018 Bike Berlin</p>
      </div>
    </footer>

  </body>
</html>
